# ChatterPay Environment Configuration

# Network Configuration
NETWORK=local

# EVM Service Configuration
ARBITRUM_SEPOLIA_RPC=https://sepolia-rollup.arbitrum.io/rpc
POLYGON_RPC=https://polygon-rpc.com
BSC_RPC=https://bsc-dataseed.binance.org
ETHEREUM_RPC=https://ethereum.publicnode.com
SCROLL_RPC=https://rpc.scroll.io
SCROLL_SEPOLIA_RPC=https://sepolia-rpc.scroll.io
CHAIN_ID=421614

# Canister IDs - Local Network
BLOCKCHAINS_LOCAL=""
EVM_SERVICE_LOCAL=""
TRANSACTIONS_LOCAL=""
USERS_LOCAL=""
TOKENS_LOCAL=""
LAST_PROCESSED_BLOCKS_LOCAL=""
NFTS_LOCAL=""

# Canister IDs - IC Network
BLOCKCHAINS_IC=""
EVM_SERVICE_IC=""
TRANSACTIONS_IC=""
USERS_IC=""
TOKENS_IC=""
LAST_PROCESSED_BLOCKS_IC=""
NFTS_IC=""
