module {
    // Network settings
    public let CURRENT_NETWORK = "%%CURRENT_NETWORK%%";

    // Canister IDs by network
    public let LOCAL_CANISTER_IDS = "%%LOCAL_CANISTER_IDS%%";
    public let IC_CANISTER_IDS = "%%IC_CANISTER_IDS%%";
};